body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
}

header {
    background-color: #b22222;
    padding: 20px;
}

header h1 {
    color: white;
    text-align: center;
    font-size: 2em;
}

.container {
    display: flex;
    border-top: 15px solid darkgreen;
    align-items: center;
    justify-content: center;
}

.data, .weather {
    opacity: 0.9;
    background-color: white;
    padding: 10px;
    margin: 20px;
   box-shadow: 0 0 5px solid black;
   position: absolute;
}

.data {
    top: 25%;
    left: 20px;
}

.weather {
    bottom: -60%;
    right: 20px;
}

.weather img {
    position: absolute;
    width: 30px;
    margin-left: 120px;
    margin-top: -50px;
}

.data h2, .weather h2 {
    background-color: green;
    color: white;
    margin: 5px 25px -8px -25px;
    padding: 10px 10px 10px 15px;
}

picture {
    display: block;
    width: 100%;
}

picture img {
    display: block;
    height: auto;
    width: 100%;  
}

footer {
    background-color: #b22222;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    color: white;
}



