@media only screen and (min-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container img {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        /* height: auto; */
        /* z-index: -1; */
    }

    .data, .weather {
        width: 30%;
        margin-bottom: 0;
        background-color: rgba(255, 255, 255, 0.9);
    }

    .data {
        position: absolute;
        top: 5%;
        left: 5%;
    }

    .weather {
        position: absolute;
        top: 25rem;
        right: 5%;
    }

    .weather h2::after {
        content: url('images/weather.svg');
        display: inline-block;
        margin-left: 10px;
    }

    .weather img {
        display: none;
    }
}
