body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

:root {
    --heading-font: 'Marhey', sans-serif;
    --primary-color: #273C54;
    --secondary-color: #2F605C;   
    --paragraph-font: "Gabriela", serif;
}
   
header {
    background-color: var(--primary-color);
    color: white;
    margin-top: 10px;
    padding: 0 0 25px 35px;
    text-align: center;
    position: relative;
}

header img {
    position: relative;
    width: 100px;
    height: 100px;
}

h1 {
    font-family: var(--heading-font);
    position: absolute;
    text-align: left;
    padding-top: 50px;
}

.menu-toggle {
    background: none;
    border: none;
    color: white;
    font-size: 2rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    display: none;
}

.hamburger {
    display: inline-block;
}

.close {
    display: none;
}

.menu-toggle.open .hamburger {
    display: none;
}

.menu-toggle.open .close {
    display: inline-block;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    flex-direction: column;
    align-items: center;
}

nav li {
    margin: 0.5rem 0;
}

nav a {
    font-family: var(--heading-font);
    color: white;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

/* Hide the menu by default */
nav ul {
    display: none;
}

/* Show the menu when it's open */
nav.open ul {
    display: flex;
}


#home {
    padding: 20px;
    text-align: center;
    font-family: var(--heading-font);
}

#home p {
    font-family: var(--paragraph-font);
}

.newsletter-form {
    position: relative;
    display: grid;
    width: 50%;
    margin: 0 0 15px 270px;
    background-color: aliceblue;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.newsletter-form input[type="text"],
.newsletter-form input[type="email"] {
    width: 270px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.newsletter-form input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.newsletter-form input[type="submit"]:hover {
    background-color: #0056b3;
    text-decoration: underline;
}

.weather {
    border: 1px solid black;
    border-radius: 5px;
    font-family: var(--paragraph-font);
    padding: 5px;
    margin: 10px;
    position: absolute;
    top: 50px;
    right: 70px;
}

.weather h2::after {
    content: url('images/weather.svg');
    display: inline-block;
    margin-left: 10px;
}

.weather img {
    position: absolute;
    width: 30px;
    margin-left: 117px;
    margin-top: -40px;
}

.weather h2 {
    font-family: var(--heading-font);
    background-color: var(--primary-color);
    color: white;
    margin: 5px 25px -8px -25px;
    padding: 10px 25px 10px 15px;
    border-bottom: none;
}

.hero-image {
    width: 100%;
    height: auto;
    max-width: 600px;
    margin: 20px 0;
}

footer {
    font-family: var(--paragraph-font);
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
    font-size: 0.875rem;
}


@media only screen and (min-width: 512px) {
    nav ul {
        flex-direction: row;
        justify-content: right;
    }

    nav li {
        margin: 0 1rem;
    }
    
    nav ul {
        display: flex;

    }

    .weather {
        position: absolute;
        grid-template-columns: 1fr 1fr;
    }
}

