/* Media Query to show the menu button on small screens */
@media (max-width: 511px) {
    header {
        display: block;
        padding-bottom: 95px;
    }

    nav ul li {
        display: block;
        padding-top: 70px;
        margin: 10px 0;
    }

    .menu-toggle {
        display: block;
    }

    .newsletter-form {
        width: 255px;
        margin-left: 10px;
        
    }   

  

}

@media (max-width: 1105px) {
    
    .weather {
        position: relative;
        display: block;
        right: 25px;
    }
}