@import url('https://fonts.googleapis.com/css2?family=Gabriela&family=Marhey:wght@300..700&display=swap');

body {
  max-width: 950px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column
  }

  :root {
    --heading-font: 'Marhey', sans-serif;
    --paragraph-font: "Gabriela", serif;
  }

  header {
    font-family: var(--paragraph-font);
    background-color: #005f7f;
    color: white;
    text-align: center;
  }
  
  nav {
    font-family: var(--heading-font);
    background-color: black;
    padding: 0.5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }


  nav a {
    color: white;
    margin: 0 5px;
    text-decoration: none;
    position: relative;
    padding: 5px 0;
  }
  
  nav a::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%;
    background-color: steelblue;
    transition: all 0.2s ease-in-out;
  }
  
  nav a:hover::before {
    width: 100%;
    left: 0;
  }
  
  main {
    font-family: var(--paragraph-font);
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    max-width: 1200px;
    margin: 10px auto;
    padding: 15px;
  }
  
  .card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
  }
  
  .card h2 {
    font-family: var(--heading-font);
    background-color: #005f7f;
    color: white;
    padding: 10px;
    margin: -20px -20px 20px -20px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    text-align: center;
  }
  
  .card h3 {
    font-family: var(--heading-font);
    text-align: center;
    border-bottom: 1px solid rgb(34, 33, 33);
  }
  
  .card .about-me {
    display: flex;
    align-items: flex-start;
    gap: 20px;
  }
  
  .card .about-me img {
    max-width: 150px;
    flex-shrink: 0;
    order: 1;
  }
  
  .card .about-me p {
    flex-grow: 1;
    order: 0;
  }
  
  .card .haiti {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    position: relative;
  }
  
  .card .haiti img {
    width: 180px;
    height: 120px;
    flex-shrink: 0;
    position: absolute;
    bottom: 45px;
  }

  .card .haiti p {
    margin-left: 12rem;
  }
  
  .card ul {
    padding-top: 80px;
  }
  
  .card li {
    margin-bottom: 5px;
  }
  
  .card a {
    color: #005f7f;
    text-decoration: none;
  }
  
  .card a:hover {
    text-decoration: underline;
  }
  
  footer {
    font-family: var(--heading-font);
    background-color: #005f7f;
    color: white;
    text-align: center;
    padding: 1px;
    border-top: 1px solid #ccc;
  }

  #lastModified {
    color: #ffffff;
  }