@media (max-width: 1080px) {
    .container {
        flex-direction: column;
        /* align-items: stretch; */
        border-bottom: 15px solid darkgreen;
    }

    .data, .weather {
        position: static;
        /* width: auto; */
        margin: 10px;
        padding: 15px;
        text-align: center;
        background-color: white;
    }

    .data {
        border-bottom: 2px solid gray;
    }

    picture img {
        border-bottom: 10px solid red;
    }

    .data h2, .weather h2 {
        background-color: white;
        color: black;
    }

    .weather img {
        width: 200px;
        position: static;
        margin: 0 auto 15px;
    }
}