@media screen and (min-width: 500px) {
    header {
        background-color: black;
        color: white;
    }
}

@media screen and (min-width: 500px) {
    main {
        grid-template-columns: 1fr 1fr;
    }
}